body {
    font-family: Open Sans, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
}
h1,h2 {
    color: #111;
}
.top-bar {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #333;
    padding: 8px;
    border-bottom: 5px solid #fd8a24;
}
.conteiner {
    max-width: 888px;
    margin: auto;
    padding: 0px 30px;
}
.headline {
    font-size: 56px;
    line-height: 64px;
}
.subtitle {
    font-weight: normal;
    font-size: 20px;
}
.author {
    font-weight: bold;
    font-size: 0.8em;
}
.social-icons {

}
.social-icon {
    width: 20px;
    padding: 10px 10px 10px 0px;
}
.main {
    max-width: 648px;
    margin: auto;
}
p {
    font-size: 20px;
    line-height: 32px;
}
a {
    font-weight: 700;
    color: #fd8a24;
    text-decoration: none;
}
.cta {
    font-size: 20px;
    margin: 30px 0;
}
figure {
    padding: 0;
    margin: 40px 0;
    font-size: 12px;
}
figure>img {
    width: 100%;
}
.footer {
    background-color: #333;
    height: 100px;
}
